<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <object data='/img/logo-mercado-liebre.svg' type='image/svg+xml' id="logo"></object>
        <p>Lugar para la barra de busqueda</p>
        <p id="cuotas"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        <ul>
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
        <ul>
            <li><a href="#">Creá tu cuenta</a><i class="far fa-id-card"></i></li>
            <li><a href="#">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
            <li><a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
        </ul>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main>
        <div id="banner">
            <img src="/img/img-home-banner.jpg" alt="Home Banner">  
        </div>
        <section>
            <div>
                <h2>Basado en tu última visita</h2>
                <img src="/img/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex roja Dolce Gusto">
                <h4 class="price">$6.770</h4>
                <h4 class="discount">40% OFF</h4>
                <h4 class="describe">Cafetera Moulinex</h4>
            </div>
            <div>
                <img src="/img/img-macbook-pro-2019.jpg" alt="MacBook Pro">
                <h4 class="price">$230.000</h4>
                <h4 class="discount">20% OFF</h4>
                <h4 class="describe">MacBook Pro 2019</h4>
            </div>
            <div>
                <img src="img/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy gris">
                <h4 class="price">$70.500</h4>
                <h4 class="discount">10% OFF</h4>
                <h4 class="describe">Samsung Galaxy S10</h4>
            </div>
            <div>
                <img src="img/img-tv-samsung-smart.jpg" alt="Smart tv">
                <h4 class="price">$23.200</h4>
                <h4 class="discount">5% OFF</h4>
                <h4 class="describe">SmartTv Samsung 43"</h4>
            </div>
        </section>
        <section>
            <h2>Ofertas</h2>
            <img src="/img/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex roja Dolce Gusto">
            <h4 class="price">$6.770</h4>
            <h4 class="discount">40% OFF</h4>
            <h4 class="describe">Cafetera Moulinex</h4>
            <img src="/img/img-macbook-pro-2019.jpg" alt="MacBook Pro">
            <h4 class="price">$230.000</h4>
            <h4 class="discount">20% OFF</h4>
            <h4 class="describe">MacBook Pro 2019</h4>
            <img src="img/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy gris">
            <h4 class="price">$70.500</h4>
            <h4 class="discount">10% OFF</h4>
            <h4 class="describe">Samsung Galaxy S10</h4>
            <img src="img/img-tv-samsung-smart.jpg" alt="Smart tv">
            <h4 class="price">$23.200</h4>
            <h4 class="discount">5% OFF</h4>
            <h4 class="describe">SmartTv Samsung 43"</h4>
        </section>
    </main>
    <footer>
        <section>
            <i class="fas fa-credit-card" id="card"></i>
            <h5>Pagá con tarjeta o efectivo</h5>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <i class="fas fa-gift" id="gift"></i>
            <h5>Envío gratis desde $ 2.500</h5>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <i class="fas fa-user-shield" id=shield></i>
            <h5>Seguridad, de principio a fin</h5>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        <section>
            <h6>Copyright © 1999-2020 MercadoLiebre S.R.L.</h6>
        </section>
    </footer>
</body>
</html>