<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b5f369b57d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Mercado Liebre Register</title>
</head>
<body>
    <header class="form-header">
        <section class="main-header">
            <div class="main-header-topbar">
                <div class="high-header">
                    <img src="/img/logo-mercado-liebre.svg" alt="Logo Mercado Liebre" class="logo">
                </div>
                <h2 class="cuotas"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</h2>
            </div>
            <div class="hamb-button-div">
                <a href="#" class="hamb-button"><i class="fas fa-bars"></i></a>
            </div>
            <nav class="main-navbar">
                <ul class="left-navbar">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul class="right-navbar">
                    <li><a href="/register">Creá tu cuenta <i class="fas fa-credit-card"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>
        </section>
    </header>
    <main class="form-main">
        <form action="/" method="POST" class="form-register"> 
            <div class="campo-email" class="campo-gral">
                <label for="email">Ingrese su correo electrónico</label>
                <input type="email" name="email" id="email">
            </div>
            <div class="campo-nombre" class="campo-gral">
                <label for="nombreCompleto">Ingrese su nombre completo</label>
                <input type="text" id="nombreCompleto" name="nombreCompleto" placeholder="Ej: Jorge Pérez" required minlength="3">
            </div>
            <div class="campo-usuario" class="campo-gral">
                <label for="nombreUsuario">Ingrese su nombre de usuario</label>
                <input type="text" id="nombreUsuario" name="nombreUsuario" placeholder="Ej: jorge.perez" minlength="6">
            </div>
            <div class="campo-nacimiento" class="campo-gral">
                <label for="fechaNacimiento">Ingrese su fecha de nacimiento</label>
                <input type="date" id="fechaNacimiento" name="fechaNacimiento">
            </div>
            <div class="campo-categorias">
                <div class="categorias-label">
                    <label>Categorías</label>
                </div>
                <div class="categoria">
                    <label>Electro </label>
                    <div class="checkbox">
                        <input type="checkbox" value="electro" name="categorias">
                    </div>
                </div>
                <div class="categoria">
                    <label>Moda </label>
                    <div class="checkbox">
                        <input type="checkbox" value="moda" name="categorias">
                    </div>
                </div>
                <div class="categoria">
                    <label>Hogar </label>
                    <div class="checkbox">
                        <input type="checkbox" value="hogar" name="categorias">
                    </div>
                </div>
                <div class="categoria">
                    <label>Juguetería </label>
                    <div class="checkbox">
                        <input type="checkbox" value="juguetería" name="categorias">
                    </div>
                </div>
                <div class="categoria">
                    <label>Vida sana </label>
                    <div class="checkbox">
                        <input type="checkbox" value="vidaSana" name="categorias">
                    </div>
                </div>
            </div>
            <div class="campo-foto">
                <label for="fotoUsuario">Elija su foto de usuario</label>
                <input type="file" name="fotoUsuario" id="fotoUsiario" accept=".jpg, .jpng, .png">
            </div>
            <div class="campo-contraseña" class="campo-gral">
                <label for="contraseña">Cree una contraseña</label>
                <input type="password" id="contraseña" name="contraseña" minlength="8">
            </div>
            <div class="campo-contraseñaconfir" class="campo-gral">
                <label for="contraseñaConfir">Confirmar contraseña</label>
                <input type="password" id="contraseñaConfir" name="contraseñaConfir" minlength="8">
            </div>
            <div class="campo-botones">
                <button type="submit">Register</button>
                <button type="reset">Restart</button>
            </div>
        </form>
        <section class="anuncio-reg">
            <img src="img/img-samsung-galaxy-s10.jpg" alt="Anuncio-SamsungGalaxy-s10">
            <div class="anuncio-reg-texto">
                <h2 class="anuncio-reg-titulo">Ofertas impedibles</h2>
                <h3>Samsung Galaxy s10 10% OFF</h3>
            </div>
        </section>
    </main>
    <footer>

    </footer>
</body>
</html>